<div class="page-title">
  <h2>Account Page</h2>
  <button>Make new product post</button>

  {{! to add a new product you'll need javascript }}
</div>

<ul class="post-list">
  {{#each posts as |post|}}
    <li>
      {{!-- {{>post-info post}} --}}
      <article class="post">
        <div class="title">
          <a href="/posts/{{id}}" class="edit-link">
            <h2>{{title}}</h2>
          </a>
          <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>
          {{state_id}}
        </div>
        <p>{{content}}</p>
      </article>
    </li>
  {{/each}}
</ul>