<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{!-- {{>post-info post}} --}}
        <article class="post">
            <div class="title">
                <a href="/posts/{{id}}" class="edit-link">
                    <h2>{{title}}</h2>
                </a>
                <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>


                {{#if post.rating_score}}
                <h4>Rating: {{post.rating_score}}</h4>
                {{/if}}
            </div>

        </article>
    </li>
    {{/each}}
</ul>