<article class="post">
    <div class="title">
        <h2>{{post.title}}</h2>
        <h4>Posted by {{post.user.username}} on {{format_date post.created_at}}</h4>

        {{#if post.rating_score}}
        <h4>Rating: {{post.rating_score}}</h4>
        {{/if}}
    </div>
    <p>{{post.content}}</p>
</article>

{{#if loggedIn}}
<form class="product-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>

        <div>
            <select id="rating">
                <option value="5">5 - Very good</option>
                <option value="4">4 - Pretty good</option>
                <option value="3">3 - Not bad</option>
                <option value="2">2 - Ok</option>
                <option value="1">1 - Terrible</option>
            </select>
        </div>

        {{!-- <div class="ratingDropdown">
            <button onclick="ratingFunction()" class="userDropbtn">Rate this thing!</button>
            <div id="rating" class="ratingDropdown-content">
                <a href="5">5 - Very good</a>
                <a href="4">4 - Pretty good</a>
                <a href="3">3 - Not bad</a>
                <a href="2">2 - Ok</a>
                <a href="1">1 - Terrible</a>
            </div>
        </div> --}}
    </div>
    <div>
        <h2>Your location</h2>
    </div>
    <div id="mapid"></div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/user-rating.js"></script>
{{/if}}